pre {
  margin: 50px;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

h2 {
  color: white;
  font-size: 30px;
}

button {
  border-radius: 50%;
}

.figureRepresentation_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}