
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  padding: 10px;
  border-bottom: 1px solid white;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    box-shadow: 0px 0px 18px 3px white;
  }
}